---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  text-align: justify;
}

.page__content table {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.archive {
    text-align: justify;
}

.author__avatar img {
  padding: 0px;
  border: 0px;
  border-radius: 0;
  max-width: 250px;
}

p.quote:before {
  content: "«"
}

p.quote:after {
  content: "»"
}
